
/* Project card styles */
.project-image-container {
  width: 128px;
  height: 128px;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.project-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
